description = "layout for the homepage"

[staticPage]
useContent = 1
default = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blog-category"
postPage = "blog/blog-post"
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
    <head>
        {% partial "site/meta" %}
        {% partial "site/css" %}
        
    </head><!--/#head-->
    <body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">
    
        <!--Google Analytics -->
        {{ this.theme.google_analytics|raw }}

        <header id="header-wrap" class="header">
            {% partial "site/top" %}
            {% partial "site/nav" %}
        </header><!--/#header-->
            
        <!-- Repeater -->
        {repeater name="sections" groups="~/themes/ketikidis-clear/meta/blocks.yaml" tab="Blocks"}
            {variable name="_dummy" type="text"}{/variable}
        {/repeater}
        
        {% component 'staticPage' %}

        {% partial 'inline-post-list' %}
            
        <!-- Copyright -->
        {% partial "site/copyright" %}
    
        <!-- Scroll to top -->
        {% partial "site/scrolltop" %}
        
        <!-- Loader -->
        {% partial "site/loader" %}
    
        <!-- Scripts -->
        {% partial "site/scripts" %}
        
</body><!--/#body-->
</html>